:root {
    --branding-color: gold;
    --secondary-color: #c8e3fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}
body {
    font-family: var(--default-font-family);

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    color: black;
    font-weight: bold;
}
h1 {
    font-size: 60px;
    line-height: 1.5;
}
h2 {
    font-size: 42px;
}
p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 0;
}
.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: black;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    font-weight: bold;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 4px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    font-weight: bold;
}

.project-description {
    padding: 120px 60px;
}

@media (max-width: 980px) {
    h1 {
        font-size: 40px;
        line-height: 2;
    }
    h2 {
        font-size: 40px;
    }
    
    .hero {
        padding: 80px 20px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
}